# 1. Import required libraries

In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

# 2. Load the dataset

In [160]:
df = pd.read_csv('car+data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

# 3. Check the shape and basic information of the dataset.

In [161]:
df.shape

(301, 9)

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [163]:
df.describe(include='O')

       Car_Name Fuel_Type Seller_Type Transmission
count       301       301         301          301
unique       98         3           2            2
top        city    Petrol      Dealer       Manual
freq         26       239         195          261

# 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [164]:
df.duplicated().sum()

2

In [165]:
df.drop_duplicates(inplace=True)

In [166]:
df.duplicated().sum()

0

# 5. Drop the columns which you think redundant for the analysis.

In [167]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

car_name column is not important so we drop it

In [168]:
df=df.drop("Car_Name",axis=1)

# 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [169]:
df["age_of_the_car"]=2023-df["Year"]

In [170]:
df=df.drop("Year",axis=1)

# 7. Encode the categorical columns

In [171]:
catogorial_col=['Fuel_Type', 'Seller_Type','Transmission']
le= LabelEncoder()
for i in catogorial_col:
    df[i]=le.fit_transform(df[i])

In [172]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
0,3.35,5.59,27000,2,0,1,0,9
1,4.75,9.54,43000,1,0,1,0,10
2,7.25,9.85,6900,2,0,1,0,6
3,2.85,4.15,5200,2,0,1,0,12
4,4.60,6.87,42450,1,0,1,0,9

# 8. Separate the target and independent features.

In [173]:
x=df.drop('Selling_Price',axis=1)
y=df['Selling_Price']

# 9. Split the data into train and test.

In [174]:
x_train , x_test , y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

print("shape of X_train",x_train.shape)
print("shape of y_train",y_train.shape)
print("shape of X_test",x_test.shape)
print("shape of y_test",y_test.shape)

shape of X_train (209, 7)
shape of y_train (209,)
shape of X_test (90, 7)
shape of y_test (90,)

# 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [175]:
rf=RandomForestRegressor()
rf.fit(x_train,y_train)

RandomForestRegressor()

In [176]:
#r2-score
y_train_pred=rf.predict(x_train)
y_test_pred=rf.predict(x_test)

r2_train=r2_score(y_train,y_train_pred)
r2_test=r2_score(y_test,y_test_pred)

print("r2 score train:",r2_train)
print("r2 score test:",r2_test)

r2 score train: 0.9741336586364013
r2 score test: 0.893353007001013

# 11. Create a pickle file with an extension as .pkl

In [180]:
import pickle
pickle.dump(rf,open("model.pkl","wb"))

# 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

# a) Create a basic HTML form for the frontend

In [ ]:
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="hero-image">
      <div class="hero-text">

        <h1 style="font-size:50px">Used Car Price Predictor</h1>
         <br><br><h3>{{ prediction_text }}<h3>
      </div>
    </div>

     <style>

        body, html {
          height: 100%;
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .hero-image {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/image.jpg');
          height: 25%;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }

        .hero-text {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }

    </style>


    <div style="color:	rgb(0, 0, 0)">
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Enter Car Details: </h2>
            <h3>Age of the car(In years)</h3>
            <input class="text_box" name="Age_of_the_car" type="number " >
            <h3>Present Showroom Price(In lakhs)</h3><input class="text_box" name="Present_Price" required="required">
            <h3>Kilometers Driven</h3><input class="text_box" name="Kms_Driven" required="required">
            <h3>Owner Type (0/1/2)</h3><input class="text_box" name="Owner" required="required">
            <h3>Fuel type</h3><select name="Fuel_Type" id="fuel" required="required">
                <option value="0">Cng</option>
                <option value="1">Diesel</option>
                <option value="2">Petrol</option>
            </select>
            <h3>Seller Type</h3><select name="Seller_Type" id="resea" required="required">
                <option value="0">Dealer</option>
                <option value="1">Individual</option>
            </select>
            <h3>Transmission type</h3><select name="Transmission" id="research" required="required">
                <option value="0">Automatic Car</option>
                <option value="1">Manual Car</option>
            </select>
            <br><br><button id="sub" type="submit ">Predict Selling Price</button>
            <br>


        </form>

    </div>

    <style>
	body {
            background-color: whitesmoke;
            text-align: center;
            padding: 0px;
	    font-family: Helvetica;
        }

        h3 {
            margin: 0;
        }

        #research {
            font-size: 20px;
            width: 100px;
            height: 23px;
            top: 23px;
        }


        #fuel {
            width: 150px;
            height: 40px;
            text-align: center;
            border-radius: 14px;
            font-size: 20px;
        }

        #research {
            width: 150px;
            height: 40px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }



        #resea {
            width: 150px;
            height: 40px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }

        #sub {
            background-color: Green;
            font-family:'Helvetica' monospace;
            font-weight: bold;
            width: 180px;
            height: 60px;
            text-align: center;
            border-radius: 20px;
            font-size: 18px;
            color: white;
        }

        #sub:hover {
            background-color:red;
        }

        .text_box {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
    </style>
</body>

</html>

# b) Create app.py file and write the predict function

In [ ]:
from flask import Flask, render_template, request, jsonify
import pickle
import numpy as np
import sklearn

app = Flask(__name__)
model = pickle.load(open('model.pkl', 'rb'))


@app.route('/',methods=['GET'])
def Home():
    return render_template('index.html')


@app.route("/predict", methods=['POST'])
def predict():
    if request.method == 'POST':
        Present_Price=float(request.form['Present_Price'])
        Kms_Driven=int(request.form['Kms_Driven'])
        Owner=int(request.form['Owner'])
        Fuel_Type=request.form['Fuel_Type']
        Age_of_the_car=request.form['Age_of_the_car']
        Seller_Type=request.form['Seller_Type']
        Transmission=request.form['Transmission']

        prediction=model.predict([[Present_Price,Kms_Driven,Owner,Age_of_the_car,Fuel_Type,Seller_Type,Transmission]])
        output=round(prediction[0],2)
        return render_template('index.html',prediction_text="You can sell your car at {} lakhs".format(output))

if __name__=="__main__":
    app.run(debug=True)

# 13. Deploy your app on Heroku. (write commands for deployment)

In [ ]:
web:  gunicorn app:app

# 14. Paste the URL of the heroku application below, and while submitting the solution submit this notebook along with the source code.

In [ ]:
heroku is paid instead i have  provide the screeshot of app running in local server

link https://imgur.com/TL5RZY4